body{
    margin: 0;
    padding: 0;
    height: 250vh;
    width: 200vh;
    background: rgb(174, 199, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    display: flex;
    margin-bottom: 650px;
}
#principal{
    background-color: white;
    height: 107vh;
    width: 100vh;
    border-radius: 25px;
}
header #botao1{
    color: white;
    background-color: purple;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    border-radius: 8px;
}
header #botao2{
    color: white;
    background-color: blue;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    border-radius: 8px;
}
header #botao3{
    color: white;
    background-color: green;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    margin-right: 8px;
    border-radius: 8px;
}
header #botao4{
    background-color:black;
    color:white;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    margin-right: 8px;
    border-radius: 8px;
}
#principal header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
header #imagemPrincipal{
    margin-left: 5px;
    margin-top: 9px;
}
#texto p{
    color: black;
    font-size: 30px;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
main #daImagemPrincipal{
    width: 500px;
    height: 500px;
    
}
#texto #downloadNow{
    background-color: rgb(16, 121, 241);
    border-radius: 10px;
    height: 30px;
    margin-left: 5px;
}
#texto #brainy{
    margin-left: 5px;
    color: rgb(85, 85, 240);
    background-color: rgb(211, 130, 144);
    border-radius: 10px;
}
#texto .text{
    margin-left: 5px;
}
#texto #cinza{
    color: rgb(136, 128, 128);
    font-size: 20px;
}
#recado{
    margin-top: 200px;
    margin-left: 210px;
}
#Enviar{
    background-color: rgb(41, 41, 160);
    margin-left: 200px;
}
#nome{
    margin-left: 33px;
}
