body{
    
    height: 30px;
    width: 200vh;
    background: rgb(174, 199, 195);
    
}
#total{
    margin-top: 40px;
    margin-left: 370px;
    display: flex;
    margin-bottom: 790px;
    
}
#principal{
    background-color: white;
    height: 110vh;
    width: 100vh;
    border-radius: 25px;
}
header #botao1{
    color: black;
    background-color: white;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    border-radius: 8px;
}
header #botao2{
    color: grey;
    background-color: white;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    border-radius: 8px;
}
header #botao3{
    color: grey;
    background-color: white;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    margin-right: 8px;
    border-radius: 8px;
}
header #botao4{
    background-color:black;
    color:white;
    height: 20px;
    width: 70px;
    margin-top: 46px;
    margin-right: 8px;
    border-radius: 8px;
}
#principal header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
}
header #imagemPrincipal{
    margin-left: 5px;
    margin-top: 9px;
}
#texto{
    margin-top: 35px;
}
#texto p{
    color: black;
    font-size: 30px;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
main #daImagemPrincipal{
    width: 500px;
    height: 500px;
    
}
#texto #downloadNow{
    background-color: rgb(16, 121, 241);
    border-radius: 10px;
    height: 30px;
    margin-left: 5px;
}
#texto #brainy{
    margin-left: 5px;
    color: rgb(85, 85, 240);
    background-color: rgb(211, 130, 144);
    border-radius: 10px;
    font-size: 13px;
}
#texto .text{
    margin-left: 5px;
}
#texto #cinza{
    color: rgb(136, 128, 128);
    font-size: 20px;
}
#recado{
    margin-top: 100px;
    margin-left: 210px;
}
#Enviar{
    background-color: rgb(41, 41, 160);
    margin-left: 200px;
}
#nome{
    margin-left: 33px;
}
div #last{
    margin-top: 90px;
    align-items: center;
    padding-left: 15px;
    font-size: 1px;
}
#last1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#numero{
    width: 24px;
    color: rgb(79, 79, 223);
}
#ultimo{
    width: 20px;
    font-size: 15px;
}
.botoeshigh{
    padding: 0;
    margin: 0;
    padding-left: 630px;
}
#high1{
    margin-right: 5px;
    background-color: black;
    color: white;
}
#high2{
    margin-right: 5px;
    background-color: rgb(69, 69, 194);
    color: white;
}
#high3{
    background-color: purple;
    color: white;
}
#nome1, #mensagem1{
    color: rgb(24, 175, 69);
}
#box{
    padding-right: 10px;
    margin-top: 33px;
    font-size: 30px;
}
div #resultados{
    height: 100px;
    width: 150px;
}